body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  /* justify-content: space-evenly; */
  position: relative;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
